.movieBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.movieList {
  transition: scale, 250ms ease-in-out;
  width: 250px;
}
.movieList:hover {
  scale: 1.05;
}
.imgMovie {
  border-radius: 12px;
}
